{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">DJANGO APP</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum quaerat recusandae eum cum, molestias nostrum impedit officiis tempora, amet, autem eius similique assumenda blanditiis earum alias ducimus sequi veniam aliquid dicta dolore a velit voluptates nesciunt esse! Consequuntur laborum ut doloribus architecto omnis eum debitis aliquid obcaecati molestiae exercitationem porro amet soluta reiciendis, excepturi ipsum nihil unde eius? Eos praesentium id quos minus, fuga nemo adipisci quisquam voluptates, nihil voluptatibus tempore iure. Tenetur eos omnis asperiores repellendus officiis facere, quo inventore iusto autem, recusandae a nobis unde. Amet iusto repellat, officia quia explicabo rem? Maiores beatae quod reprehenderit nostrum porro.</p>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}
